<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body bgcolor="cyan">
    <a href="/">Home</a> |
    <a href="/insert">Insert</a> | 
    <a href="/display">Display</a> |
    <a href="/update">Update</a> |
    <a href="/contact">Contact</a> 
    <center><h1>Employee Home Page</h1></center>
</body>
</html>