<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        #navbar{
            display: flex;
            align-items: center;
            justify-content: start;
            height: 10vh;
            background-color: black;
            box-shadow: 0px 1px 10px white;
        }
        #navbar a{
            margin-left: 20px;
            font-weight: bold;
            color: white;
            text-decoration: none;
        }
        h1{
            margin-top: 20px;
            color: white;
        }
        #form {
            width: 400px;
            margin: 100px auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 45px 15px;
            box-shadow: 0px 0px 10px gray;
            border-radius: 20px;
        }

        #form form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            width: 80%;
        }

        input {
            padding: 10px 20px;
            width: 100%;
            border: none;
            outline: none;
            border-radius: 50px;
            font-size: 14px;
            color: white;
            box-shadow: 0px 0px 2px white;
            background-color: transparent;
        }

        button {
            width: 100%;
            padding: 10px;
            box-shadow: 0px 0px 2px white;
            background-color: transparent;
            border: none;
            color: white;
            border-radius: 50px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
        }
    </style>
</head>

<body bgcolor="black">
    <div id="navbar">
        <a href="/">Home</a> 
        <a href="/insert">Insert</a> 
        <a href="/display">Display</a> 
        <a href="/update">Update</a> 
        <a href="/contact">Contact</a>
    </div>
    <center>
        <h1>Employee Insert Page</h1>
    </center>
    <div id="form">
        <form  method="post" action="/datasave">
            <input type="text" name="eno" placeholder="enter employee no">
            <input type="text" name="nm" placeholder="enter employee name">
            <input type="text" name="ct" placeholder="enter employee city">
            <input type="text" name="sal" placeholder="enter employee salary">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>